name: Build and deploy to second package

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.x"

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: Create the pack
        run: dotnet pack --configuration Release

      - name: Publish
        run: dotnet nuget push "bin/Release/*.nupkg" -k ${{ secrets.PRIVATE_NUGET_TOKEN }} -s https://nuget.pkg.github.com/under-sin/index.json --skip-duplicate
